### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule running-coach-zbigniew-podolak index.html
RewriteRule chi-sono chisono.html
RewriteRule programmi-di-allenamento offerta.html
RewriteRule contattami contattami.html
RewriteRule cookies-policy cookiespolicy.html
RewriteRule termini-e-condizioni termini e condizioni.html
RewriteRule faq faq.html
RewriteRule grazie grazie.html